.perro{
    font-size: 5vw;
    width: 13em;
    height: 15em;
    position: relative;
    left: 10%;
    top: 3vw;

}
.perro__cabeza{
    width: 33%;
    height: 28%;
    background-color: rgb(189, 122, 46);
    position: relative;
    border-radius: 40%;
    transform: rotate(15deg);
}
/* mancha cabeza */

.perro__cabeza::after{
    content: "";
    position: absolute;
    left: 42%;
    top: 20%;
    width: 16%;
    height: 80%;
    background-color: white;
    border-radius: 50% 50% 0% 0%;
}
.perro__cabeza__oreja{
    position: absolute;
    height: 0.5em;
    top: 0%;
    border:  1em solid brown;
    border-bottom: 0.5em solid transparent;
    border-radius: 20%;
}

.perro__cabeza__oreja--izquierda{
    right: -20%;
    transform: rotate(-30deg);

    border-left: 0.5em solid transparent;

}
.perro__cabeza__oreja--derecha{
    left: -20%;
    transform: rotate(30deg);

    border-right: 0.5em solid transparent;

}
.perro__cabeza__ojo{
    position: absolute;            
    width: 0.3em;
    height: 0.3em;
    border: 0.30em solid black;
    background-color: white;
    border-radius: 50%;
    top: 35%;
}
.perro__cabeza__ojo--izquierdo{
    left: 7%;
}
.perro__cabeza__ojo--derecho{
    right: 7%;
}
.perro__cabeza__hocico{
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 50%;
    height: 45%;
    left: 25%;
    top: 40%;
    border-radius: 30%;
}
.perro__cabeza__hocico::before{
    content: "";
    width: 80%;
    height: 30%;
    background-color: rgb(168, 109, 42);
    border-radius: 0% 0% 50% 50%;
    z-index: -1;
    position: absolute;
    bottom: -20%;
    left: 10%;
}
.perro__cabeza__hocico__nariz{
    width: 40%;
    height: 40%;
    background-color: black;
    border-radius: 20% 20% 50% 50%;
    margin: 5% auto auto auto;
}   
.perro__cabeza__hocico__lengua{
    background-color: red;
    position: absolute;
    left: 25%;
    bottom: -80%;
    width: 50%;
    height: 80%;
    border-radius: 0% 0% 30% 30%;

}
.perro__cuerpo{
    width: 34%;
    height: 20%;
    position: relative;
    top: -10%;
    left: -1%;
    border-radius: 20%;
    background-color:  rgb(185, 134, 75);
    z-index: -1;
}
.perro__cuerpo__pata{
    width: 25%;
    height: 50%;
    position: absolute;
    top: 90%;
    background-color:rgb(185, 134, 75);
}
.perro__cuerpo__pata--izquierda{
    left: 5%;
}

.perro__cuerpo__pata--derecha{
    right: 5%;
}
.perro__cuerpo__cola{
    background-color: rgb(185, 134, 75);
    height: 60%;
    position: absolute;
    width: 15%;
    left: -4%;
    top: -40%;
    transform: rotate(-10deg);
    border-radius: 50% 50% 0% 0%;
    animation-name: cola;
    animation-duration: .3s;
    animation-iteration-count: 10;
    animation-direction: alternate;
    z-index: -1;
} 

/* animaciones */
@keyframes cola {
    from {
        transform: rotate(-10deg) translate(0%); 
     
    }
    to {
            transform: rotate(-65deg) translate(-100%, -10%);
        }
  }



