.perro{
    font-size: 7vw;
    width: 10em;
    height: 20em;
    position: relative;
    left: 10%;
    top: 20px;

}
.perro__cabeza{
    width: 14%;
    height: 10%;
    background-color: rgb(119, 54, 54);
    position: relative;
    border-radius: 30% 30% 50% 50%;
    left: 4%;
}
/* mancha cabeza */
.perro__cabeza::after{
    content: "";
    position: absolute;
    left: 42%;
    top: 20%;
    width: 16%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 50% 50% 0% 0%;
}
/*cuello*/
.perro__cabeza::before{
    content: "";
    background-color: white;
    z-index: -1;
    width: 70%;
    height: 200%;
    top: 50%;
    left: 5%;
    border: solid 0.2em  rgb(119, 54, 54);
    position: absolute;
    border-radius: 40% 40% 0% 0%;

}
.perro__cabeza__oreja{
    position: absolute;
    width: 0.5em;
    height: 0.2em;
    top: -12%;
    border:  0.5em solid rgb(119, 54, 54);
    border-bottom: 0.5em solid transparent;
    border-radius: 20%;
}

.perro__cabeza__oreja--izquierda{
    right: -50%;
    transform: rotate(-40deg);

    border-left: 0.3em solid transparent;

}
.perro__cabeza__oreja--derecha{
    left: -50%;
    transform: rotate(40deg);

    border-right: 0.5em solid transparent;

}
.perro__cabeza__ojo{
    position: absolute;            
    width: 0.15em;
    height: 0.15em;
    border: 0.15em solid black;
    background-color: white;
    border-radius: 50%;
    top: 25%;
}
.perro__cabeza__ojo--izquierdo{
    left: 5%;
}
.perro__cabeza__ojo--derecho{
    right: 5%;
}
.perro__cabeza__hocico{
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 44%;
    height: 30%;
    left: 28%;
    top: 65%;
    border-radius: 30%;
}
.perro__cabeza__hocico::before{
    content: "";
    width: 80%;
    height: 30%;
    background-color: rgb(180, 178, 178);
    border-radius: 0% 0% 50% 50%;
    z-index: -1;
    position: absolute;
    bottom: -20%;
    left: 10%;
}
.perro__cabeza__hocico__nariz{
    width: 60%;
    height: 60%;
    background-color: black;
    border-radius: 20% 20% 50% 50%;
    margin: 15% auto auto auto;
}   
.perro__cabeza__hocico__lengua{
    background-color: red;
    position: absolute;
    left: 25%;
    bottom: -80%;
    width: 50%;
    height: 80%;
    border-radius: 0% 0% 30% 30%;

}
.perro__cuerpo{
    width: 25%;
    height: 12%;
    position: relative;
    top: 5%;
    left: -1%;
    border-radius: 40% 40% 20% 20%;
    background-color:  rgb(119, 54, 54);
    z-index: -2;
}
.perro__cuerpo__pata{
    width: 20%;
    height: 160%;
    position: absolute;
    top: 90%;
    background-color: rgb(119, 54, 54);
}
.perro__cuerpo__pata--izquierda{
    left: 5%;
}

.perro__cuerpo__pata--derecha{
    right: 5%;
}
.perro__cuerpo__cola{
    background-color: rgb(119, 54, 54);
    height: 80%;
    position: absolute;
    width: 10%;
    left: 0%;
    top: -60%;
    transform: rotate(-10deg);
    border-radius: 50% 50% 0% 0%;
    animation-name: cola;
    animation-duration: .3s;
    animation-iteration-count: 10;
    animation-direction: alternate;
}

/* animaciones */
@keyframes cola {
    from {
        transform: rotate(-10deg) translate(0%); 
     
    }
    to {
            transform: rotate(-55deg) translate(-300%, -10%);
        }
  }