.perro{
    font-size: 5vw;
    width: 10em;
    height: 20em;
    position: relative;
    left: 7%;

}
.perro__cabeza{
    width: 30%;
    height: 20%;
    background-color: brown;
    position: relative;
    left: 1%;
    border-radius: 50%;
}
/* mancha cabeza */

.perro__cabeza::after{
    content: "";
    position: absolute;
    left: 42%;
    top: 20%;
    width: 16%;
    height: 80%;
    background-color: white;
    border-radius: 50% 50% 0% 0%;
}
.perro__cabeza__oreja{
    position: absolute;
    height: 1em;
    top: 0%;
    border:  1em solid brown;
    border-bottom: 1em solid transparent;
    border-radius: 20%;
}

.perro__cabeza__oreja--izquierda{
    right: -30%;
    transform: rotate(-10deg);

    border-left: 1em solid transparent;

}
.perro__cabeza__oreja--derecha{
    left: -30%;
    transform: rotate(10deg);

    border-right: 1em solid transparent;

}
.perro__cabeza__ojo{
    position: absolute;            
    width: 0.4em;
    height: 0.4em;
    border: 0.35em solid black;
    background-color: white;
    border-radius: 50%;
    top: 35%;
}
.perro__cabeza__ojo--izquierdo{
    left: 5%;
}
.perro__cabeza__ojo--derecho{
    right: 5%;
}
.perro__cabeza__hocico{
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 60%;
    height: 40%;
    left: 20%;
    top: 70%;
    border-radius: 30%;
}
.perro__cabeza__hocico::before{
    content: "";
    width: 80%;
    height: 30%;
    background-color: rgb(180, 178, 178);
    border-radius: 0% 0% 50% 50%;
    z-index: -1;
    position: absolute;
    bottom: -20%;
    left: 10%;
}
.perro__cabeza__hocico__nariz{
    width: 40%;
    height: 40%;
    background-color: black;
    border-radius: 20% 20% 50% 50%;
    margin: 20% auto auto auto;
}   
.perro__cabeza__hocico__lengua{
    background-color: red;
    position: absolute;
    left: 25%;
    bottom: -80%;
    width: 50%;
    height: 80%;
    border-radius: 0% 0% 30% 30%;

}
.perro__cuerpo{
    width: 34%;
    height: 12%;
    position: relative;
    top: -2%;
    left: -1%;
    border-radius: 20%;
    background-color: rgb(228, 227, 227);
}
.perro__cuerpo__pata{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 90%;
    background-color: rgb(228, 227, 227);
}
.perro__cuerpo__pata--izquierda{
    left: 5%;
}

.perro__cuerpo__pata--derecha{
    right: 5%;
} 
        .perro__cuerpo__cola{
    background-color: rgb(119, 54, 54);
    height: 80%;
    position: absolute;
    width: 10%;
    left: -5%;
    top: -60%;
    left: 10%;
    transform: rotate(20deg);
    border-radius: 50% 50% 0% 0%;
    z-index: -1;
    animation-name: cola;
    animation-duration: .3s;
    animation-iteration-count: 10;
    animation-direction: alternate;
} 

/* animaciones */
@keyframes cola {
    from {
        transform: rotate(20deg) translate(0%); 
     
    }
    to {
            transform: rotate(-55deg) translate(-300%, -30%);
        }
  }